.content-container {
    margin: 0 auto;
    max-width: 800px;
}
.banner {
    padding: 1em 2em;
    background-color: #E75B58;
    box-shadow: 0 5px 5px #E75B58;
    color: white;
    box-shadow: 0 2px 6px lightgrey;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    margin-top: 2em;
    z-index: 1;
}
.banner__heading {
    font-size: 3em;
    margin: 0;
}
.add-button {
    margin-left: auto;
    font-size: 1.5em;
}
.spinner:not(.pre-policy-load) {
    display: none;
}
.policy-list {
    list-style: none;
    padding-left: 0;
    transition-property: background-color;
    transition-duration: .25s;
}
.policy {
    background-color: white;
    box-shadow: 0 2px 6px lightgrey;
    padding: 1em;
    margin-bottom: 1em;
    font-size: 1.5em;
    position: relative;
}
.policy-form .simple-input {
    transition: color .5s ease;
}
.policy-form.disabled:hover .simple-input  {
    color: #51C0C2;
}
@supports(display: grid) {
    @media only screen and (min-width: 800px) {
        .policy {
            margin-bottom: 0;
        }
        .policy-list {
            display: grid;
            grid-template-columns: repeat(2, minmax(0, 1fr));
            grid-gap: 1rem;
        }
        .policy:last-child:nth-child(even) {
            transform: translate(calc(50% + 0.5rem), 0);
        }
    }
}
.policy-form__fields {
    border: none;
}
.policy-form__fields {
    display: flex;
    flex-direction: column;
}
.policy-placeholder {
    display: none;
    font-size: 1.5em;
}
.policy-placeholder:first-child:last-child {
    display: block;
}
.limit-readout {
    width: 4ch;
}
.policy-form__actions {
    font-size: .75em;
}
.policy-form__actions {
    top: 1.5em;
    right: 1.5em;
    position: absolute;
}
.save-button {
    margin-top: 0.5em;
    bottom: 1.5em;
    right: 1.5em;
    position: absolute;
}
.url-field-row {
    display: flex;
    align-items: center;
}
.regex-label {
    display: flex;
    align-items: center;
}