.banner {
    user-select: none;
    color: white;
    background-color: darkslateblue
}
.banner__heading {
    margin: 0;
    padding: 1em;
}
.main-content {
    margin: 0 auto;
    background-color: white;
    padding: 20px;
    box-shadow: 0 2px 6px #ddd;
    max-width: 800px;
}
.main-content__header {
    display: flex;
    align-items: center;
}
.main-content__heading {
    font-size: 2em;
}
.add-button {
    font-size: 1.5em;
    margin-left: auto;
}
.add-button.pre-policy-load {
    display:none;
}
.spinner:not(.pre-policy-load) {
    display: none;
}
.policy-list {
    list-style: none;
    padding-left: 0;
    transition-property: background-color;
    transition-duration: .25s;
}
.policy {
    box-shadow: 0 2px 6px lightgrey;
    padding: 1em;
    margin-bottom: 1em;
     font-size: 1.5em;
}
@supports(display: grid) {
    @media only screen and (min-width: 1000px) {
        .policy-list {
            display: grid;
            grid-template-columns: repeat(2, minmax(0, 1fr));
            grid-gap: 1em;
        }
    }
}
.policy-form__fields {
    border: none;
}
.policy-form__fields {
    display: flex;
    flex-direction: column;
}
.limit-readout {
    width: 4ch;
}
.limit-slider::-webkit-slider-runnable-track {
    background-color: slateblue;
}
.limit-slider::-webkit-slider-thumb,
.limit-slider::-ms-thumb {
    background-color: white;
    border-radius: 1000px;
}
.policy-form__actions {
    font-size: .75em;
}
.policy-form__actions {
    float: right;
}
.save-button {
    margin-top: 0.5em;
}